<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://openbox.org/">
  <menu id="root-menu" label="Applications">
    <item label="File Manager" icon="/usr/share/icons/Paper/22x22/apps/system-file-manager.png"><action name="Execute"><command><![CDATA[xdg-open .]]></command></action></item>
    <item label="Terminal" icon="/usr/share/icons/Paper/16x16/apps/utilities-terminal.png"><action name="Execute"><command><![CDATA[xterm]]></command></action></item>
    <item label="Web Browser" icon="/usr/share/icons/Paper/16x16/apps/web-browser.png"><action name="Execute"><command><![CDATA[xdg-open http://]]></command></action></item>
    <item label="Run command" icon="/usr/share/icons/Paper/16x16/actions/system-run.svg"><action name="Execute"><command><![CDATA[gmrun]]></command></action></item>
  <separator label="Categories"/>
  <menu id="Accessories" icon="/usr/share/icons/Paper/16x16/categories/applications-utilities.png" label="Accessories">
    <item label="About Xfce" icon="/usr/share/icons/Paper/16x16/actions/help-about.png"><action name="Execute"><command><![CDATA[xfce4-about]]></command></action></item>
    <item label="Application Finder" icon="/usr/share/icons/Paper/16x16/actions/edit-find.svg"><action name="Execute"><command><![CDATA[xfce4-appfinder]]></command></action></item>
    <item label="Archive Manager" icon="/usr/share/icons/Paper/16x16/apps/file-roller.png"><action name="Execute"><command><![CDATA[file-roller]]></command></action></item>
    <item label="Books" icon="/usr/share/icons/Paper/16x16/apps/org.gnome.Books.png"><action name="Execute"><command><![CDATA[gnome-books]]></command></action></item>
    <item label="Bulk Rename" icon="/usr/share/icons/Paper/16x16/apps/Thunar.png"><action name="Execute"><command><![CDATA[/usr/lib/Thunar/ThunarBulkRename]]></command></action></item>
    <item label="Caffeine-ng" icon="/usr/share/icons/Paper/16x16/apps/caffeine.png"><action name="Execute"><command><![CDATA[/usr/bin/caffeine]]></command></action></item>
    <item label="Calculator" icon="/usr/share/icons/Paper/16x16/apps/accessories-calculator.png"><action name="Execute"><command><![CDATA[gnome-calculator]]></command></action></item>
    <item label="Character Map" icon="/usr/share/icons/Paper/16x16/apps/accessories-character-map.png"><action name="Execute"><command><![CDATA[gucharmap]]></command></action></item>
    <item label="Characters" icon="/usr/share/icons/Paper/16x16/apps/gnome-characters.png"><action name="Execute"><command><![CDATA[gapplication launch org.gnome.Characters]]></command></action></item>
    <item label="Clocks" icon="/usr/share/icons/Paper/16x16/apps/org.gnome.clocks.png"><action name="Execute"><command><![CDATA[gnome-clocks]]></command></action></item>
    <item label="compton" icon="/usr/share/icons/hicolor/48x48/apps/compton.png"><action name="Execute"><command><![CDATA[compton]]></command></action></item>
    <item label="Desktop Search" icon="/usr/share/icons/Paper/16x16/apps/system-search.png"><action name="Execute"><command><![CDATA[tracker-needle]]></command></action></item>
    <item label="Disks" icon="/usr/share/icons/Paper/16x16/apps/gnome-disks.png"><action name="Execute"><command><![CDATA[gnome-disks]]></command></action></item>
    <item label="Documents" icon="/usr/share/icons/Paper/16x16/apps/org.gnome.Documents.png"><action name="Execute"><command><![CDATA[gnome-documents]]></command></action></item>
    <item label="File Manager" icon="/usr/share/icons/Paper/22x22/apps/system-file-manager.png"><action name="Execute"><command><![CDATA[exo-open --launch FileManager]]></command></action></item>
    <item label="Files" icon="/usr/share/icons/hicolor/22x22/apps/org.gnome.Nautilus.png"><action name="Execute"><command><![CDATA[nautilus --new-window]]></command></action></item>
    <item label="Font Viewer" icon="/usr/share/icons/Paper/16x16/apps/preferences-desktop-font.png"><action name="Execute"><command><![CDATA[gnome-font-viewer]]></command></action></item>
    <item label="GNOME Do" icon="/usr/share/icons/hicolor/16x16/apps/gnome-do.svg"><action name="Execute"><command><![CDATA[gnome-do]]></command></action></item>
    <item label="GVim" icon="/usr/share/icons/Paper/16x16/apps/gvim.png"><action name="Execute"><command><![CDATA[gvim -f]]></command></action></item>
    <item label="Help" icon="/usr/share/icons/Paper/16x16/apps/help-browser.png"><action name="Execute"><command><![CDATA[yelp]]></command></action></item>
    <item label="HP Device Manager" icon="/usr/share/hplip/data/images/128x128/hp_logo.png"><action name="Execute"><command><![CDATA[hp-toolbox]]></command></action></item>
    <item label="ipython" icon="/usr/share/icons/Paper/16x16/apps/ipython.png"><action name="Execute"><command><![CDATA[xterm -e 'ipython']]></command></action></item>
    <item label="Logs" icon="/usr/share/icons/Paper/16x16/apps/gnome-logs.png"><action name="Execute"><command><![CDATA[gnome-logs]]></command></action></item>
    <item label="Maps" icon="/usr/share/icons/Paper/16x16/apps/org.gnome.Maps.png"><action name="Execute"><command><![CDATA[gapplication launch org.gnome.Maps]]></command></action></item>
    <item label="Nemo" icon="/usr/share/icons/Paper/16x16/places/folder.png"><action name="Execute"><command><![CDATA[nemo]]></command></action></item>
    <item label="Network Tools" icon="/usr/share/icons/Paper/16x16/apps/gnome-nettool.png"><action name="Execute"><command><![CDATA[gnome-nettool]]></command></action></item>
    <item label="Parcellite" icon="/usr/share/pixmaps/parcellite.svg"><action name="Execute"><command><![CDATA[parcellite]]></command></action></item>
    <item label="Passwords and Keys" icon="/usr/share/icons/Paper/16x16/apps/seahorse.png"><action name="Execute"><command><![CDATA[/usr/bin/seahorse]]></command></action></item>
    <item label="Redshift" icon="/usr/share/icons/Paper/16x16/apps/redshift.png"><action name="Execute"><command><![CDATA[redshift-gtk]]></command></action></item>
    <item label="Run Program..." icon="/usr/share/icons/Paper/16x16/actions/system-run.svg"><action name="Execute"><command><![CDATA[xfce4-appfinder --collapsed]]></command></action></item>
    <item label="Screenshot" icon="/usr/share/icons/Paper/16x16/apps/applets-screenshooter.png"><action name="Execute"><command><![CDATA[gnome-screenshot --interactive]]></command></action></item>
    <item label="Terminal Emulator" icon="/usr/share/icons/Paper/16x16/apps/utilities-terminal.png"><action name="Execute"><command><![CDATA[exo-open --launch TerminalEmulator]]></command></action></item>
    <item label="Text Editor" icon="/usr/share/icons/Paper/16x16/apps/gedit.png"><action name="Execute"><command><![CDATA[gedit]]></command></action></item>
    <item label="Thunar File Manager" icon="/usr/share/icons/Paper/16x16/apps/Thunar.png"><action name="Execute"><command><![CDATA[thunar]]></command></action></item>
    <item label="To Do" icon="/usr/share/icons/Paper/16x16/apps/org.gnome.Todo.png"><action name="Execute"><command><![CDATA[gnome-todo]]></command></action></item>
    <item label="Tweak Tool" icon="/usr/share/icons/Paper/16x16/apps/gnome-tweak-tool.png"><action name="Execute"><command><![CDATA[gnome-tweak-tool]]></command></action></item>
    <item label="Weather" icon="/usr/share/icons/Paper/16x16/apps/org.gnome.Weather.png"><action name="Execute"><command><![CDATA[gapplication launch org.gnome.Weather.Application]]></command></action></item>
  </menu>
  <menu id="Development" icon="/usr/share/icons/Paper/16x16/categories/applications-development.png" label="Development">
    <item label="Accerciser" icon="/usr/share/icons/hicolor/22x22/apps/accerciser.png"><action name="Execute"><command><![CDATA[/usr/bin/accerciser]]></command></action></item>
    <item label="Anjuta" icon="/usr/share/icons/hicolor/22x22/apps/anjuta.png"><action name="Execute"><command><![CDATA[anjuta]]></command></action></item>
    <item label="Builder" icon="/usr/share/icons/hicolor/16x16/apps/org.gnome.Builder.png"><action name="Execute"><command><![CDATA[gnome-builder]]></command></action></item>
    <item label="CMake" icon="/usr/share/icons/hicolor/32x32/apps/CMakeSetup.png"><action name="Execute"><command><![CDATA[cmake-gui]]></command></action></item>
    <item label="Database browser" icon="/usr/share/pixmaps/gda-browser-5.0.png"><action name="Execute"><command><![CDATA[gda-browser-5.0]]></command></action></item>
    <item label="Devhelp" icon="/usr/share/icons/Paper/16x16/apps/devhelp.png"><action name="Execute"><command><![CDATA[devhelp]]></command></action></item>
    <item label="gitg" icon="/usr/share/icons/Paper/16x16/apps/gitg.png"><action name="Execute"><command><![CDATA[gitg --no-wd]]></command></action></item>
    <item label="Glade" icon="/usr/share/icons/Paper/16x16/apps/glade.png"><action name="Execute"><command><![CDATA[glade]]></command></action></item>
    <item label="ipython" icon="/usr/share/icons/Paper/16x16/apps/ipython.png"><action name="Execute"><command><![CDATA[xterm -e 'ipython']]></command></action></item>
    <item label="Julia" icon="/usr/share/icons/hicolor/scalable/apps/julia.svg"><action name="Execute"><command><![CDATA[xterm -e 'julia']]></command></action></item>
    <item label="Qt Assistant" icon="/usr/share/icons/hicolor/32x32/apps/assistant.png"><action name="Execute"><command><![CDATA[assistant]]></command></action></item>
    <item label="Qt Designer" icon="/usr/share/icons/hicolor/128x128/apps/QtProject-designer.png"><action name="Execute"><command><![CDATA[designer]]></command></action></item>
    <item label="Qt Linguist" icon="/usr/share/icons/hicolor/16x16/apps/linguist.png"><action name="Execute"><command><![CDATA[linguist]]></command></action></item>
    <item label="Qt QDbusViewer" icon="/usr/share/icons/hicolor/32x32/apps/qdbusviewer.png"><action name="Execute"><command><![CDATA[qdbusviewer]]></command></action></item>
    <item label="Qt4 Assistant" icon="/usr/share/icons/Paper/16x16/apps/assistant-qt4.png"><action name="Execute"><command><![CDATA[assistant-qt4]]></command></action></item>
    <item label="Qt4 Designer" icon="/usr/share/icons/hicolor/128x128/apps/designer-qt4.png"><action name="Execute"><command><![CDATA[designer-qt4]]></command></action></item>
    <item label="Qt4 Linguist" icon="/usr/share/icons/Paper/16x16/apps/linguist-qt4.png"><action name="Execute"><command><![CDATA[linguist-qt4]]></command></action></item>
    <item label="Qt4 QDbusViewer" icon="/usr/share/icons/hicolor/32x32/apps/qdbusviewer-qt4.png"><action name="Execute"><command><![CDATA[qdbusviewer-qt4]]></command></action></item>
    <item label="Sysprof" icon="/usr/share/icons/hicolor/16x16/apps/sysprof.png"><action name="Execute"><command><![CDATA[sysprof]]></command></action></item>
  </menu>
  <menu id="Education" icon="/usr/share/icons/Paper/16x16/categories/applications-science.png" label="Education">
    <item label="LibreOffice Math" icon="/usr/share/icons/Paper/16x16/apps/libreoffice-math.png"><action name="Execute"><command><![CDATA[libreoffice --math]]></command></action></item>
    <item label="Mendeley Desktop" icon="/usr/share/icons/hicolor/22x22/apps/mendeleydesktop.png"><action name="Execute"><command><![CDATA[/home/nick/.local/share/mendeleydesktop]]></command></action></item>
    <item label="Mendeley Desktop" icon="/usr/share/icons/hicolor/22x22/apps/mendeleydesktop.png"><action name="Execute"><command><![CDATA[mendeleydesktop]]></command></action></item>
  </menu>
  <menu id="Games" icon="/usr/share/icons/Paper/16x16/categories/applications-games.png" label="Games">
    <item label="2048" icon="/usr/share/icons/Paper/16x16/apps/gnome-2048.png"><action name="Execute"><command><![CDATA[gnome-2048]]></command></action></item>
    <item label="AisleRiot Solitaire" icon="/usr/share/icons/Paper/16x16/apps/gnome-aisleriot.png"><action name="Execute"><command><![CDATA[sol]]></command></action></item>
    <item label="Atomix" icon="/usr/share/icons/hicolor/22x22/apps/atomix.png"><action name="Execute"><command><![CDATA[atomix]]></command></action></item>
    <item label="Chess" icon="/usr/share/icons/hicolor/22x22/apps/gnome-chess.png"><action name="Execute"><command><![CDATA[gnome-chess]]></command></action></item>
    <item label="Five or More" icon="/usr/share/icons/hicolor/22x22/apps/five-or-more.png"><action name="Execute"><command><![CDATA[five-or-more]]></command></action></item>
    <item label="Four-in-a-row" icon="/usr/share/icons/hicolor/22x22/apps/four-in-a-row.png"><action name="Execute"><command><![CDATA[four-in-a-row]]></command></action></item>
    <item label="Hitori" icon="/usr/share/icons/hicolor/22x22/apps/org.gnome.Hitori.png"><action name="Execute"><command><![CDATA[hitori]]></command></action></item>
    <item label="Iagno" icon="/usr/share/icons/hicolor/22x22/apps/iagno.png"><action name="Execute"><command><![CDATA[iagno]]></command></action></item>
    <item label="Klotski" icon="/usr/share/icons/hicolor/22x22/apps/gnome-klotski.png"><action name="Execute"><command><![CDATA[gnome-klotski]]></command></action></item>
    <item label="Lights Off" icon="/usr/share/icons/hicolor/scalable/apps/lightsoff.svg"><action name="Execute"><command><![CDATA[lightsoff]]></command></action></item>
    <item label="Mahjongg" icon="/usr/share/icons/Paper/16x16/apps/gnome-mahjongg.png"><action name="Execute"><command><![CDATA[gnome-mahjongg]]></command></action></item>
    <item label="Mines" icon="/usr/share/icons/hicolor/22x22/apps/gnome-mines.png"><action name="Execute"><command><![CDATA[gnome-mines]]></command></action></item>
    <item label="Nibbles" icon="/usr/share/icons/hicolor/22x22/apps/gnome-nibbles.png"><action name="Execute"><command><![CDATA[gnome-nibbles]]></command></action></item>
    <item label="Quadrapassel" icon="/usr/share/icons/hicolor/22x22/apps/quadrapassel.png"><action name="Execute"><command><![CDATA[quadrapassel]]></command></action></item>
    <item label="Robots" icon="/usr/share/icons/hicolor/22x22/apps/gnome-robots.png"><action name="Execute"><command><![CDATA[gnome-robots]]></command></action></item>
    <item label="Steam (Native)" icon="/usr/share/icons/Paper/16x16/apps/steam.png"><action name="Execute"><command><![CDATA[/usr/bin/steam-native]]></command></action></item>
    <item label="Steam (Runtime)" icon="/usr/share/icons/Paper/16x16/apps/steam.png"><action name="Execute"><command><![CDATA[/usr/bin/steam-runtime]]></command></action></item>
    <item label="Sudoku" icon="/usr/share/icons/hicolor/22x22/apps/gnome-sudoku.png"><action name="Execute"><command><![CDATA[gnome-sudoku]]></command></action></item>
    <item label="Swell Foop" icon="/usr/share/icons/hicolor/22x22/apps/swell-foop.png"><action name="Execute"><command><![CDATA[swell-foop]]></command></action></item>
    <item label="Tali" icon="/usr/share/icons/hicolor/22x22/apps/tali.png"><action name="Execute"><command><![CDATA[tali]]></command></action></item>
    <item label="Taquin" icon="/usr/share/icons/hicolor/22x22/apps/gnome-taquin.png"><action name="Execute"><command><![CDATA[gnome-taquin]]></command></action></item>
    <item label="Tetravex" icon="/usr/share/icons/hicolor/22x22/apps/gnome-tetravex.png"><action name="Execute"><command><![CDATA[gnome-tetravex]]></command></action></item>
  </menu>
  <menu id="Graphics" icon="/usr/share/icons/Paper/16x16/categories/applications-graphics.png" label="Graphics">
    <item label="Document Viewer" icon="/usr/share/icons/Paper/16x16/apps/evince.png"><action name="Execute"><command><![CDATA[evince]]></command></action></item>
    <item label="GNU Image Manipulation Program" icon="/usr/share/icons/Paper/16x16/apps/gimp.png"><action name="Execute"><command><![CDATA[gimp-2.8]]></command></action></item>
    <item label="Gwenview" icon="/usr/share/icons/Paper/16x16/apps/gwenview.png"><action name="Execute"><command><![CDATA[gwenview]]></command></action></item>
    <item label="Image Viewer" icon="/usr/share/icons/Paper/16x16/apps/eog.png"><action name="Execute"><command><![CDATA[eog]]></command></action></item>
    <item label="LibreOffice Draw" icon="/usr/share/icons/Paper/16x16/apps/libreoffice-draw.png"><action name="Execute"><command><![CDATA[libreoffice --draw]]></command></action></item>
    <item label="Photos" icon="/usr/share/icons/hicolor/22x22/apps/org.gnome.Photos.png"><action name="Execute"><command><![CDATA[gnome-photos]]></command></action></item>
    <item label="Pinta" icon="/usr/share/icons/Paper/16x16/apps/pinta.png"><action name="Execute"><command><![CDATA[pinta]]></command></action></item>
  </menu>
  <menu id="Multimedia" icon="/usr/share/icons/Paper/16x16/categories/applications-multimedia.png" label="Multimedia">
    <item label="Audio Mixer" icon="/usr/share/icons/Paper/16x16/apps/multimedia-volume-control.png"><action name="Execute"><command><![CDATA[xfce4-mixer]]></command></action></item>
    <item label="Brasero" icon="/usr/share/icons/Paper/16x16/apps/brasero.png"><action name="Execute"><command><![CDATA[brasero]]></command></action></item>
    <item label="Cheese" icon="/usr/share/icons/Paper/16x16/apps/org.gnome.Cheese.png"><action name="Execute"><command><![CDATA[cheese]]></command></action></item>
    <item label="Music" icon="/usr/share/icons/Paper/16x16/apps/gnome-music.png"><action name="Execute"><command><![CDATA[gnome-music]]></command></action></item>
    <item label="PulseAudio Volume Control" icon="/usr/share/icons/Paper/16x16/apps/multimedia-volume-control.png"><action name="Execute"><command><![CDATA[pavucontrol]]></command></action></item>
    <item label="Qt V4L2 test Utility" icon="/usr/share/icons/hicolor/16x16/apps/qv4l2.png"><action name="Execute"><command><![CDATA[qv4l2]]></command></action></item>
    <item label="Sound Recorder" icon="/usr/share/icons/Paper/16x16/apps/gnome-sound-recorder.png"><action name="Execute"><command><![CDATA[gnome-sound-recorder]]></command></action></item>
    <item label="Spotify" icon="/usr/share/icons/Paper/16x16/apps/spotify-client.png"><action name="Execute"><command><![CDATA[spotify]]></command></action></item>
    <item label="Videos" icon="/usr/share/icons/hicolor/22x22/apps/org.gnome.Totem.png"><action name="Execute"><command><![CDATA[totem]]></command></action></item>
    <item label="VLC media player" icon="/usr/share/icons/Paper/16x16/apps/vlc.png"><action name="Execute"><command><![CDATA[/usr/bin/vlc --started-from-file]]></command></action></item>
  </menu>
  <menu id="Network" icon="/usr/share/icons/Paper/16x16/categories/applications-internet.png" label="Network">
    <item label="Avahi SSH Server Browser" icon="/usr/share/icons/Paper/22x22/panel/network-wired.svg"><action name="Execute"><command><![CDATA[/usr/bin/bssh]]></command></action></item>
    <item label="Avahi VNC Server Browser" icon="/usr/share/icons/Paper/22x22/panel/network-wired.svg"><action name="Execute"><command><![CDATA[/usr/bin/bvnc]]></command></action></item>
    <item label="Chromium" icon="/usr/share/icons/Paper/16x16/apps/chromium.png"><action name="Execute"><command><![CDATA[chromium]]></command></action></item>
    <item label="Dropbox" icon="/usr/share/icons/Paper/16x16/web/dropbox.png"><action name="Execute"><command><![CDATA[dropbox]]></command></action></item>
    <item label="Empathy" icon="/usr/share/icons/Paper/16x16/apps/empathy.png"><action name="Execute"><command><![CDATA[empathy]]></command></action></item>
    <item label="Firefox" icon="/usr/share/icons/Paper/16x16/apps/firefox.png"><action name="Execute"><command><![CDATA[/usr/lib/firefox/firefox]]></command></action></item>
    <item label="KNetAttach" icon="/usr/share/icons/Paper/16x16/categories/knetattach.png"><action name="Execute"><command><![CDATA[knetattach]]></command></action></item>
    <item label="Mail Reader" icon="/usr/share/icons/Paper/16x16/apps/internet-mail.png"><action name="Execute"><command><![CDATA[exo-open --launch MailReader]]></command></action></item>
    <item label="Pidgin Internet Messenger" icon="/usr/share/icons/Paper/16x16/apps/pidgin.png"><action name="Execute"><command><![CDATA[pidgin]]></command></action></item>
    <item label="Polari" icon="/usr/share/icons/Paper/16x16/apps/org.gnome.Polari.png"><action name="Execute"><command><![CDATA[gapplication launch org.gnome.Polari]]></command></action></item>
    <item label="Remote Desktop Viewer" icon="/usr/share/icons/Paper/16x16/apps/preferences-desktop-remote-desktop.png"><action name="Execute"><command><![CDATA[vinagre]]></command></action></item>
    <item label="Skype" icon="/usr/share/icons/Paper/16x16/apps/skype.png"><action name="Execute"><command><![CDATA[skype]]></command></action></item>
    <item label="Steam (Native)" icon="/usr/share/icons/Paper/16x16/apps/steam.png"><action name="Execute"><command><![CDATA[/usr/bin/steam-native]]></command></action></item>
    <item label="Steam (Runtime)" icon="/usr/share/icons/Paper/16x16/apps/steam.png"><action name="Execute"><command><![CDATA[/usr/bin/steam-runtime]]></command></action></item>
    <item label="Web Browser" icon="/usr/share/icons/Paper/16x16/apps/web-browser.png"><action name="Execute"><command><![CDATA[exo-open --launch WebBrowser]]></command></action></item>
    <item label="Web" icon="/usr/share/icons/hicolor/16x16/apps/org.gnome.Epiphany.png"><action name="Execute"><command><![CDATA[epiphany]]></command></action></item>
    <item label="Zoom" icon="/usr/share/pixmaps/Zoom.png"><action name="Execute"><command><![CDATA[/usr/bin/zoom]]></command></action></item>
  </menu>
  <menu id="Office" icon="/usr/share/icons/Paper/16x16/categories/applications-office.png" label="Office">
    <item label="Calendar" icon="/usr/share/icons/Paper/16x16/apps/org.gnome.Calendar.png"><action name="Execute"><command><![CDATA[gnome-calendar]]></command></action></item>
    <item label="Contacts" icon="/usr/share/icons/Paper/16x16/apps/x-office-address-book.png"><action name="Execute"><command><![CDATA[gnome-contacts]]></command></action></item>
    <item label="Dictionary" icon="/usr/share/icons/Paper/16x16/apps/accessories-dictionary.png"><action name="Execute"><command><![CDATA[gnome-dictionary]]></command></action></item>
    <item label="Document Viewer" icon="/usr/share/icons/Paper/16x16/apps/evince.png"><action name="Execute"><command><![CDATA[evince]]></command></action></item>
    <item label="Evolution" icon="/usr/share/icons/Paper/16x16/apps/evolution.png"><action name="Execute"><command><![CDATA[evolution]]></command></action></item>
    <item label="LibreOffice Base" icon="/usr/share/icons/Paper/16x16/apps/libreoffice-base.png"><action name="Execute"><command><![CDATA[libreoffice --base]]></command></action></item>
    <item label="LibreOffice Calc" icon="/usr/share/icons/Paper/16x16/apps/libreoffice-calc.png"><action name="Execute"><command><![CDATA[libreoffice --calc]]></command></action></item>
    <item label="LibreOffice Draw" icon="/usr/share/icons/Paper/16x16/apps/libreoffice-draw.png"><action name="Execute"><command><![CDATA[libreoffice --draw]]></command></action></item>
    <item label="LibreOffice Impress" icon="/usr/share/icons/Paper/16x16/apps/libreoffice-impress.png"><action name="Execute"><command><![CDATA[libreoffice --impress]]></command></action></item>
    <item label="LibreOffice Math" icon="/usr/share/icons/Paper/16x16/apps/libreoffice-math.png"><action name="Execute"><command><![CDATA[libreoffice --math]]></command></action></item>
    <item label="LibreOffice Writer" icon="/usr/share/icons/Paper/16x16/apps/libreoffice-writer.png"><action name="Execute"><command><![CDATA[libreoffice --writer]]></command></action></item>
    <item label="LibreOffice" icon="/usr/share/icons/Paper/16x16/apps/libreoffice-startcenter.png"><action name="Execute"><command><![CDATA[libreoffice]]></command></action></item>
    <item label="Master PDF Editor" icon="/opt/master-pdf-editor-4/masterpdfeditor4.png"><action name="Execute"><command><![CDATA[/opt/master-pdf-editor-4/masterpdfeditor4]]></command></action></item>
    <item label="PDFsam" icon="/usr/share/pixmaps/pdfsam.png"><action name="Execute"><command><![CDATA[pdfsam]]></command></action></item>
  </menu>
  <menu id="Other" icon="/usr/share/icons/Paper/16x16/categories/applications-other.png" label="Other">
    <item label="Mathematica 11" icon="/usr/share/icons/Paper/16x16/apps/wolfram-mathematica.png"><action name="Execute"><command><![CDATA[/usr/bin/Mathematica]]></command></action></item>
    <item label="ParaView" icon="/usr/share/icons/hicolor/22x22/apps/paraview.png"><action name="Execute"><command><![CDATA[paraview]]></command></action></item>
    <item label="Qtcam" icon="/usr/share/pixmaps/qtcam.jpg"><action name="Execute"><command><![CDATA[Qtcam]]></command></action></item>
  </menu>
  <menu id="Settings" icon="/usr/share/icons/Paper/16x16/categories/applications-accessories.png" label="Settings">
    <item label="Accessibility" icon="/usr/share/icons/Paper/16x16/apps/cs-universal-access.png"><action name="Execute"><command><![CDATA[cinnamon-settings universal-access]]></command></action></item>
    <item label="Accessibility" icon="/usr/share/icons/Paper/16x16/apps/preferences-desktop-accessibility.png"><action name="Execute"><command><![CDATA[xfce4-accessibility-settings]]></command></action></item>
    <item label="Account details" icon="/usr/share/icons/Paper/16x16/apps/cs-user.png"><action name="Execute"><command><![CDATA[cinnamon-settings user]]></command></action></item>
    <item label="Adobe Flash Player" icon="/usr/share/icons/Paper/16x16/apps/flash-player-properties.png"><action name="Execute"><command><![CDATA[flash-player-properties]]></command></action></item>
    <item label="Appearance" icon="/usr/share/icons/Paper/16x16/apps/preferences-desktop-theme.png"><action name="Execute"><command><![CDATA[xfce4-appearance-settings]]></command></action></item>
    <item label="Applets" icon="/usr/share/icons/hicolor/scalable/categories/cs-applets.svg"><action name="Execute"><command><![CDATA[cinnamon-settings applets]]></command></action></item>
    <item label="ARandR" icon="/usr/share/icons/Paper/16x16/devices/display.png"><action name="Execute"><command><![CDATA[arandr]]></command></action></item>
    <item label="Backgrounds" icon="/usr/share/icons/Paper/16x16/apps/cs-backgrounds.png"><action name="Execute"><command><![CDATA[cinnamon-settings backgrounds]]></command></action></item>
    <item label="Caffeine-ng Preferences" icon="/usr/share/icons/Paper/16x16/apps/caffeine.png"><action name="Execute"><command><![CDATA[/usr/bin/caffeine -p]]></command></action></item>
    <item label="Color" icon="/usr/share/icons/Paper/16x16/apps/cs-color.png"><action name="Execute"><command><![CDATA[cinnamon-settings color]]></command></action></item>
    <item label="Customize Look and Feel" icon="/usr/share/icons/Paper/16x16/apps/preferences-desktop-theme.png"><action name="Execute"><command><![CDATA[lxappearance]]></command></action></item>
    <item label="Database access control center" icon="/usr/share/icons/hicolor/22x22/apps/gda-control-center.png"><action name="Execute"><command><![CDATA[gda-control-center-5.0]]></command></action></item>
    <item label="Date &amp; Time" icon="/usr/share/icons/Paper/16x16/apps/cs-date-time.png"><action name="Execute"><command><![CDATA[cinnamon-settings calendar]]></command></action></item>
    <item label="Desklets" icon="/usr/share/icons/Paper/16x16/apps/cs-desklets.png"><action name="Execute"><command><![CDATA[cinnamon-settings desklets]]></command></action></item>
    <item label="Desktop" icon="/usr/share/icons/Paper/16x16/apps/preferences-desktop-wallpaper.png"><action name="Execute"><command><![CDATA[xfdesktop-settings]]></command></action></item>
    <item label="Desktop" icon="/usr/share/icons/Paper/16x16/places/cs-desktop.png"><action name="Execute"><command><![CDATA[cinnamon-settings desktop]]></command></action></item>
    <item label="Display" icon="/usr/share/icons/Paper/16x16/apps/cs-display.png"><action name="Execute"><command><![CDATA[cinnamon-settings display]]></command></action></item>
    <item label="Display" icon="/usr/share/icons/Paper/16x16/devices/video-display.png"><action name="Execute"><command><![CDATA[xfce4-display-settings]]></command></action></item>
    <item label="Effects" icon="/usr/share/icons/hicolor/scalable/categories/cs-desktop-effects.svg"><action name="Execute"><command><![CDATA[cinnamon-settings effects]]></command></action></item>
    <item label="Extensions" icon="/usr/share/icons/hicolor/scalable/categories/cs-extensions.svg"><action name="Execute"><command><![CDATA[cinnamon-settings extensions]]></command></action></item>
    <item label="File Manager" icon="/usr/share/icons/Paper/22x22/apps/system-file-manager.png"><action name="Execute"><command><![CDATA[thunar-settings]]></command></action></item>
    <item label="Fonts" icon="/usr/share/icons/Paper/16x16/apps/cs-fonts.png"><action name="Execute"><command><![CDATA[cinnamon-settings fonts]]></command></action></item>
    <item label="General" icon="/usr/share/icons/Paper/16x16/categories/cs-general.png"><action name="Execute"><command><![CDATA[cinnamon-settings general]]></command></action></item>
    <item label="Graphics Tablet" icon="/usr/share/icons/Paper/16x16/devices/cs-tablet.png"><action name="Execute"><command><![CDATA[cinnamon-settings wacom]]></command></action></item>
    <item label="Hot Corners" icon="/usr/share/icons/Paper/16x16/apps/cs-overview.png"><action name="Execute"><command><![CDATA[cinnamon-settings hotcorner]]></command></action></item>
    <item label="Keyboard" icon="/usr/share/icons/Paper/16x16/apps/cs-keyboard.png"><action name="Execute"><command><![CDATA[cinnamon-settings keyboard]]></command></action></item>
    <item label="Keyboard" icon="/usr/share/icons/Paper/16x16/apps/preferences-desktop-keyboard.png"><action name="Execute"><command><![CDATA[xfce4-keyboard-settings]]></command></action></item>
    <item label="MIME Type Editor" icon="/usr/share/icons/Paper/16x16/mimetypes/application-x-executable.png"><action name="Execute"><command><![CDATA[xfce4-mime-settings]]></command></action></item>
    <item label="Monitor Settings" icon="/usr/share/icons/Paper/16x16/devices/video-display.png"><action name="Execute"><command><![CDATA[lxrandr]]></command></action></item>
    <item label="Mouse and Touchpad" icon="/usr/share/icons/Paper/16x16/devices/cs-mouse.png"><action name="Execute"><command><![CDATA[cinnamon-settings mouse]]></command></action></item>
    <item label="Mouse and Touchpad" icon="/usr/share/icons/Paper/16x16/devices/preferences-desktop-peripherals.png"><action name="Execute"><command><![CDATA[xfce4-mouse-settings]]></command></action></item>
    <item label="Network Connections" icon="/usr/share/icons/Paper/16x16/categories/preferences-system-network.png"><action name="Execute"><command><![CDATA[nm-connection-editor]]></command></action></item>
    <item label="Network" icon="/usr/share/icons/Paper/16x16/categories/cs-network.png"><action name="Execute"><command><![CDATA[cinnamon-settings network]]></command></action></item>
    <item label="Notifications" icon="/usr/share/icons/Paper/16x16/apps/cs-notifications.png"><action name="Execute"><command><![CDATA[cinnamon-settings notifications]]></command></action></item>
    <item label="Notifications" icon="/usr/share/icons/Paper/16x16/apps/xfce4-notifyd.png"><action name="Execute"><command><![CDATA[xfce4-notifyd-config]]></command></action></item>
    <item label="Openbox Configuration Manager" icon="/usr/share/pixmaps/obconf.png"><action name="Execute"><command><![CDATA[obconf]]></command></action></item>
    <item label="Panel" icon="/usr/share/icons/Paper/16x16/apps/cs-panel.png"><action name="Execute"><command><![CDATA[cinnamon-settings panel]]></command></action></item>
    <item label="Panel" icon="/usr/share/icons/Paper/16x16/apps/xfce4-panel.png"><action name="Execute"><command><![CDATA[xfce4-panel --preferences]]></command></action></item>
    <item label="Pointing devices" icon="/usr/share/icons/Paper/16x16/devices/preferences-desktop-peripherals.png"><action name="Execute"><command><![CDATA[gpointing-device-settings]]></command></action></item>
    <item label="Power Management" icon="/usr/share/icons/Paper/16x16/categories/cs-power.png"><action name="Execute"><command><![CDATA[cinnamon-settings power]]></command></action></item>
    <item label="Power Manager" icon="/usr/share/icons/hicolor/scalable/status/xfce4-power-manager-settings.svg"><action name="Execute"><command><![CDATA[xfce4-power-manager-settings]]></command></action></item>
    <item label="Preferred Applications" icon="/usr/share/icons/Paper/16x16/categories/cs-default-applications.png"><action name="Execute"><command><![CDATA[cinnamon-settings default]]></command></action></item>
    <item label="Preferred Applications" icon="/usr/share/icons/Paper/16x16/categories/preferences-desktop-default-applications.png"><action name="Execute"><command><![CDATA[exo-preferred-applications]]></command></action></item>
    <item label="Print Settings" icon="/usr/share/icons/Paper/16x16/devices/printer.png"><action name="Execute"><command><![CDATA[system-config-printer]]></command></action></item>
    <item label="Privacy" icon="/usr/share/icons/Paper/16x16/apps/cs-privacy.png"><action name="Execute"><command><![CDATA[cinnamon-settings privacy]]></command></action></item>
    <item label="Removable Drives and Media" icon="/usr/share/icons/Paper/16x16/devices/drive-removable-media.png"><action name="Execute"><command><![CDATA[thunar-volman-settings]]></command></action></item>
    <item label="Rygel Preferences" icon="/usr/share/icons/hicolor/32x32/apps/rygel.png"><action name="Execute"><command><![CDATA[rygel-preferences]]></command></action></item>
    <item label="Screensaver" icon="/usr/share/icons/hicolor/scalable/categories/cs-screensaver.svg"><action name="Execute"><command><![CDATA[cinnamon-settings screensaver]]></command></action></item>
    <item label="Search and Indexing" icon="/usr/share/icons/Paper/16x16/apps/tracker.png"><action name="Execute"><command><![CDATA[tracker-preferences]]></command></action></item>
    <item label="Session and Startup" icon="/usr/share/icons/Paper/16x16/apps/xfce4-session.png"><action name="Execute"><command><![CDATA[xfce4-session-settings]]></command></action></item>
    <item label="Settings Editor" icon="/usr/share/icons/Paper/16x16/categories/preferences-system.png"><action name="Execute"><command><![CDATA[xfce4-settings-editor]]></command></action></item>
    <item label="Settings Manager" icon="/usr/share/icons/Paper/16x16/categories/preferences-desktop.png"><action name="Execute"><command><![CDATA[xfce4-settings-manager]]></command></action></item>
    <item label="Sound" icon="/usr/share/icons/Paper/16x16/apps/cs-sound.png"><action name="Execute"><command><![CDATA[cinnamon-settings sound]]></command></action></item>
    <item label="Startup Applications" icon="/usr/share/icons/Paper/16x16/apps/cs-startup-programs.png"><action name="Execute"><command><![CDATA[cinnamon-settings startup]]></command></action></item>
    <item label="System Info" icon="/usr/share/icons/hicolor/scalable/categories/cs-details.svg"><action name="Execute"><command><![CDATA[cinnamon-settings info]]></command></action></item>
    <item label="System Settings" icon="/usr/share/icons/Paper/16x16/categories/preferences-system.png"><action name="Execute"><command><![CDATA[cinnamon-settings]]></command></action></item>
    <item label="Themes" icon="/usr/share/icons/Paper/16x16/apps/cs-themes.png"><action name="Execute"><command><![CDATA[cinnamon-settings themes]]></command></action></item>
    <item label="Tint2 Settings" icon="/usr/share/icons/Paper/16x16/apps/tint2conf.png"><action name="Execute"><command><![CDATA[tint2conf]]></command></action></item>
    <item label="Users and Groups" icon="/usr/share/icons/Paper/16x16/apps/system-users.png"><action name="Execute"><command><![CDATA[cinnamon-settings-users]]></command></action></item>
    <item label="Window Manager Tweaks" icon="/usr/share/icons/hicolor/48x48/apps/wmtweaks.png"><action name="Execute"><command><![CDATA[xfwm4-tweaks-settings]]></command></action></item>
    <item label="Window Manager" icon="/usr/share/icons/Paper/16x16/apps/xfwm4.png"><action name="Execute"><command><![CDATA[xfwm4-settings]]></command></action></item>
    <item label="Window Tiling" icon="/usr/share/icons/hicolor/scalable/categories/cs-tiling.svg"><action name="Execute"><command><![CDATA[cinnamon-settings tiling]]></command></action></item>
    <item label="Windows" icon="/usr/share/icons/Paper/16x16/apps/cs-windows.png"><action name="Execute"><command><![CDATA[cinnamon-settings windows]]></command></action></item>
    <item label="Workspaces" icon="/usr/share/icons/Paper/16x16/apps/cs-workspaces.png"><action name="Execute"><command><![CDATA[cinnamon-settings workspaces]]></command></action></item>
    <item label="Workspaces" icon="/usr/share/icons/Paper/16x16/apps/xfce4-workspaces.png"><action name="Execute"><command><![CDATA[xfwm4-workspace-settings]]></command></action></item>
  </menu>
  <menu id="System" icon="/usr/share/icons/Paper/16x16/categories/applications-system.png" label="System">
    <item label="Avahi Zeroconf Browser" icon="/usr/share/icons/Paper/22x22/panel/network-wired.svg"><action name="Execute"><command><![CDATA[/usr/bin/avahi-discover]]></command></action></item>
    <item label="Bulk Rename" icon="/usr/share/icons/Paper/16x16/apps/Thunar.png"><action name="Execute"><command><![CDATA[/usr/lib/Thunar/ThunarBulkRename]]></command></action></item>
    <item label="Color Profile Viewer" icon="/usr/share/icons/Paper/16x16/apps/gnome-color-manager.png"><action name="Execute"><command><![CDATA[gcm-viewer]]></command></action></item>
    <item label="Configuration Editor" icon="/usr/share/icons/Paper/16x16/apps/gconf-editor.png"><action name="Execute"><command><![CDATA[gconf-editor]]></command></action></item>
    <item label="dconf Editor" icon="/usr/share/icons/Paper/16x16/apps/dconf-editor.png"><action name="Execute"><command><![CDATA[dconf-editor]]></command></action></item>
    <item label="Disk Usage Analyzer" icon="/usr/share/icons/Paper/16x16/apps/baobab.png"><action name="Execute"><command><![CDATA[baobab]]></command></action></item>
    <item label="GNOME System Monitor" icon="/usr/share/icons/Paper/16x16/apps/utilities-system-monitor.png"><action name="Execute"><command><![CDATA[gnome-system-monitor]]></command></action></item>
    <item label="Hardware Locality lstopo" icon="/usr/share/icons/Paper/16x16/status/gtk-missing-image.png"><action name="Execute"><command><![CDATA[lstopo]]></command></action></item>
    <item label="Htop" icon="/usr/share/icons/Paper/16x16/apps/htop.png"><action name="Execute"><command><![CDATA[xterm -e 'htop']]></command></action></item>
    <item label="Log Out" icon="/usr/share/icons/Paper/22x22/panel/system-log-out.svg"><action name="Execute"><command><![CDATA[xfce4-session-logout]]></command></action></item>
    <item label="Logs" icon="/usr/share/icons/Paper/16x16/apps/gnome-logs.png"><action name="Execute"><command><![CDATA[gnome-logs]]></command></action></item>
    <item label="Manage Printing" icon="/usr/share/icons/Paper/16x16/devices/cups.png"><action name="Execute"><command><![CDATA[/usr/bin/xdg-open http://localhost:631/]]></command></action></item>
    <item label="Network Tools" icon="/usr/share/icons/Paper/16x16/apps/gnome-nettool.png"><action name="Execute"><command><![CDATA[gnome-nettool]]></command></action></item>
    <item label="Print Settings" icon="/usr/share/icons/Paper/16x16/devices/printer.png"><action name="Execute"><command><![CDATA[system-config-printer]]></command></action></item>
    <item label="ranger" icon="/usr/share/icons/Paper/16x16/apps/utilities-terminal.png"><action name="Execute"><command><![CDATA[xterm -e 'ranger']]></command></action></item>
    <item label="Settings" icon="/usr/share/icons/Paper/16x16/categories/preferences-system.png"><action name="Execute"><command><![CDATA[gnome-control-center --overview]]></command></action></item>
    <item label="System Log" icon="/usr/share/icons/Paper/16x16/apps/logview.png"><action name="Execute"><command><![CDATA[gnome-system-log]]></command></action></item>
    <item label="System Monitor" icon="/usr/share/icons/Paper/16x16/apps/utilities-system-monitor.png"><action name="Execute"><command><![CDATA[gnome-system-monitor]]></command></action></item>
    <item label="Terminal" icon="/usr/share/icons/Paper/16x16/apps/utilities-terminal.png"><action name="Execute"><command><![CDATA[gnome-terminal]]></command></action></item>
    <item label="Thunar File Manager" icon="/usr/share/icons/Paper/16x16/apps/Thunar.png"><action name="Execute"><command><![CDATA[thunar]]></command></action></item>
    <item label="Tint2" icon="/usr/share/icons/hicolor/scalable/apps/tint2.svg"><action name="Execute"><command><![CDATA[tint2]]></command></action></item>
    <item label="urxvt (client)" icon="/usr/share/icons/Paper/16x16/apps/utilities-terminal.png"><action name="Execute"><command><![CDATA[urxvtc]]></command></action></item>
    <item label="urxvt (tabbed)" icon="/usr/share/icons/Paper/16x16/apps/utilities-terminal.png"><action name="Execute"><command><![CDATA[urxvt-tabbed]]></command></action></item>
    <item label="urxvt" icon="/usr/share/icons/Paper/16x16/apps/utilities-terminal.png"><action name="Execute"><command><![CDATA[urxvt]]></command></action></item>
    <item label="Users and Groups" icon="/usr/share/icons/Paper/16x16/apps/system-users.png"><action name="Execute"><command><![CDATA[cinnamon-settings-users]]></command></action></item>
    <item label="UXTerm" icon="/usr/share/icons/Paper/16x16/apps/xterm-color_48x48.png"><action name="Execute"><command><![CDATA[uxterm]]></command></action></item>
    <item label="Xfce Terminal" icon="/usr/share/icons/Paper/16x16/apps/utilities-terminal.png"><action name="Execute"><command><![CDATA[xfce4-terminal]]></command></action></item>
    <item label="XTerm" icon="/usr/share/icons/Paper/16x16/apps/xterm-color_48x48.png"><action name="Execute"><command><![CDATA[xterm]]></command></action></item>
  </menu>
  <separator/>
  <menu id="Advanced Settings" icon="/usr/share/icons/Paper/16x16/categories/applications-engineering.png" label="Advanced Settings">
    <item label="Conky RC" icon="/usr/share/icons/Paper/16x16/mimetypes/text-x-generic.png"><action name="Execute"><command><![CDATA[geany ~/.conkyrc]]></command></action></item>
    <item label="Tint2 Panel" icon="/usr/share/icons/Paper/16x16/mimetypes/text-x-generic.png"><action name="Execute"><command><![CDATA[geany ~/.config/tint2/tint2rc]]></command></action></item>
  <menu id="Obmenu-Generator" icon="/usr/share/icons/Paper/16x16/apps/accessories-text-editor.png" label="Obmenu-Generator">
    <item label="Menu Schema" icon="/usr/share/icons/Paper/16x16/mimetypes/text-x-generic.png"><action name="Execute"><command><![CDATA[geany ~/.config/obmenu-generator/schema.pl]]></command></action></item>
    <item label="Menu Config" icon="/usr/share/icons/Paper/16x16/mimetypes/text-x-generic.png"><action name="Execute"><command><![CDATA[geany ~/.config/obmenu-generator/config.pl]]></command></action></item>
  <separator/>
    <item label="Generate a static menu" icon="/usr/share/icons/Paper/16x16/apps/accessories-text-editor.png"><action name="Execute"><command><![CDATA[obmenu-generator -s -c]]></command></action></item>
    <item label="Generate a static menu with icons" icon="/usr/share/icons/Paper/16x16/apps/accessories-text-editor.png"><action name="Execute"><command><![CDATA[obmenu-generator -s -i -c]]></command></action></item>
  <separator/>
    <item label="Generate a dynamic menu" icon="/usr/share/icons/Paper/16x16/apps/accessories-text-editor.png"><action name="Execute"><command><![CDATA[obmenu-generator -p]]></command></action></item>
    <item label="Generate a dynamic menu with icons" icon="/usr/share/icons/Paper/16x16/apps/accessories-text-editor.png"><action name="Execute"><command><![CDATA[obmenu-generator -p -i]]></command></action></item>
  <separator/>
    <item label="Refresh Icon Set" icon="/usr/share/icons/Paper/16x16/actions/view-refresh.svg"><action name="Execute"><command><![CDATA[obmenu-generator -d]]></command></action></item>
  </menu>
  <menu id="Openbox" icon="/usr/share/pixmaps/openbox.png" label="Openbox">
    <item label="Openbox Autostart" icon="/usr/share/icons/Paper/16x16/mimetypes/text-x-generic.png"><action name="Execute"><command><![CDATA[geany ~/.config/openbox/autostart]]></command></action></item>
    <item label="Openbox RC" icon="/usr/share/icons/Paper/16x16/mimetypes/text-x-generic.png"><action name="Execute"><command><![CDATA[geany ~/.config/openbox/rc.xml]]></command></action></item>
    <item label="Openbox Menu" icon="/usr/share/icons/Paper/16x16/mimetypes/text-x-generic.png"><action name="Execute"><command><![CDATA[geany ~/.config/openbox/menu.xml]]></command></action></item>
    <item label="Reconfigure Openbox" icon="/usr/share/pixmaps/openbox.png"><action name="Execute"><command><![CDATA[openbox --reconfigure]]></command></action></item>
  </menu>
  </menu>
  <separator/>
    <item label="Lock" icon="/usr/share/icons/Adwaita/22x22/actions/system-lock-screen.png"><action name="Execute"><command><![CDATA[xscreensaver-command -lock]]></command></action></item>
    <item label="Exit" icon="/usr/share/icons/Paper/16x16/actions/application-exit.svg"><action name="Exit"/></item>
  </menu>
</openbox_menu>
